  html {
    height: 100%;
  }
  body {
    background: #E2E4E7;
    padding: 0;
    margin: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
  }
  
  .wrapper {
      height: 100% !important;
      height: 100%;
      margin: 0 auto; 
      overflow: hidden;
  }
  
  header {
    position: relative;
    z-index: 10;
  }
  .main section  {
    overflow: hidden;
  }
  
  .main section.page1 {
    display:flex;
    flex-direction:row;
    background:rgb(255, 255, 255);
  }

  .main section.page1 .left_half {
    width:70%;
    height:100%;
    background:rgb(255, 205, 208);
    display:flex;
    flex-direction: column;
  }

  .main section.page1 .left_half ul{
    font-family: 'Yantramanav';
    font-weight:bold;
    font-size:20px;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  .main section.page1 .left_half li{
    display:block;
  }

  .main section.page1 .left_half li a{
    text-decoration:none;
    text-align:center;
    color:white;
    display:block;
    margin-right:50px;
    margin-top:15px;
    float:right;
    position:relative;
    z-index: 1;
    padding:8px;
  }

  .main section.page1 .left_half li a:after{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #F4A4A7;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }

  .main section.page1 .left_half li a:hover:after{
    opacity: 1;
    visibility: visible;
    height: 100%;
  }

  #sticker_button{
    border-style: solid;
    border-width:2px;
    padding-top:3px;
    padding-bottom:3px;
    padding-right:15px;
    padding-left:15px;
    margin-right:40px;
    margin-top:18px;
  }
 
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }

  .doodlecraving{
    float:left;
    padding:19px 20px 20px 25px;
  }

  .doodlecraving a{
    text-decoration:none;
    font-family:'Roboto Condensed';
    color:white;
    font-weight:bold;
    font-size:30px; 
    position:relative;
  }

  .doodlecraving a:after{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #F4A4A7;
    visibility: none;
    opacity: 0;
    z-index: 0;
  }

  .doodlecraving a:hover:after{
    opacity: 1;
    visibility: visible;
    height:100%;
  }

  .doodlecraving a,
  .doodlecraving a:after,
  .doodlecraving a:before {
    transition: all .5s;
  }

  .hello_title {
    float:left;
  }

  .hello_title img {
    margin: 150px 0px 20px -50px;
    width:60%;
    animation: slide-right 1.3s forwards;
    animation-delay: 0s;
  }


  .subtitle{
    font-family:'Roboto Condensed';
  }

  .subtitle p{
    color:white;
    font-size:35px;
    font-weight:bold;
    margin: 0px 0px 0px -50px;
    animation: slide-right-sub 1.3s forwards;
    animation-delay: 0s;
  }

  .body1 {
    display:flex;
    flex-direction: row;
  }

  .decoration img {
    z-index:0;
    position:absolute;
    width:47%;
    right:-500px;
    bottom:0px;

    animation: slide-left 1.3s forwards;
    animation-delay: 0s;
  }

  @keyframes slide-left {
      100% { right: 0; }
  }

  @keyframes slide-right-sub {
      100% { margin: 0px 0px 0px 110px; }
  }

  @keyframes slide-right {
      100% { margin: 150px 0px 20px 100px; }
  }

  .right_half .buttons{
    position:absolute;
    margin:10px 10px 10px 25px;
  }

  .right_half .buttons img {
    padding:7px;
    padding-right:20px;
    width:12%;
  }

  
  .main section.page2 {
    background:url("images/Page2.svg");
    background-color:#F49094;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .page2 img {
    position: absolute;
    bottom:0;
    margin-bottom: 60px;
    left: 50%;
    margin-left:-110px;
    width: 15%;
  }
  .main section.page3 {
    background:url("images/Page3.svg");
    height:105%;
    background-color:white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page3 img:hover {
    opacity: 80%;
    transition:.5s;
  }

  #post1 {
    position: absolute;
    bottom:0;
    margin-bottom: 320px;
    left: 20%;
    margin-left:-105px;
    width: 23%;
  }

  #post2 {
    position: absolute;
    bottom:0;
    margin-bottom: 220px;
    left: 75%;
    margin-left:-122px;
    width: 23%;
  }

  #post3 {
    position: absolute;
    bottom:0;
    margin-bottom: 265px;
    left: 50%;
    margin-left:-150px;
    width: 23%;
  }

  #sticker1:hover{
    width:16%;
  }

  #sticker2:hover{
    width:24%;
  }

  #sticker3:hover{
    width:21%;
  }

  #sticker1{
    position: absolute;
    bottom:0;
    margin-bottom: 320px;
    left: 20%;
    margin-left:-100px;
    width: 15%;
  }

  #sticker2 {
    position: absolute;
    bottom:0;
    margin-bottom: 303px;
    left: 50%;
    margin-left:-160px;
    width: 23%;
  }

  #sticker3{
    position: absolute;
    bottom:0;
    margin-bottom: 290px;
    left: 75%;
    margin-left:-80px;
    width: 20%;
  }



  .main section.page4 {
    background:rgb(234, 234, 234);
  }
  
  body.disabled-onepage-scroll .onepage-wrapper  section {
    min-height: 100%;
    height: auto;
  }
  