.hgInner {
    position: relative;
    float: left;
    height: 100%;
    width: 955px;
    overflow: hidden;
    -webkit-animation: reveal 4s ease;
    -webkit-animation-fill-mode: backwards;
}

@-webkit-keyframes reveal {
    0%   {width: 0px;}
    100% { width: 100%;}
}
@keyframes reveal {
    0%   {width: 0px;}
    100% { width: 100%;}
}

body {
    background-color: black;
  }
  
     .mac-outer .st0 {
        fill: none;
        stroke: #FFFFFF;
        stroke-miterlimit: 10;
    }
  
    .mac-outer .st1 {
        fill: none;
        stroke: #FFFFFF;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
  
    .mac-outer .st2 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 0.25;
        stroke-miterlimit: 10;
    }
  
  .mac-hello {
   grid-row: 5;
   grid-column: 5/11;
  }
  
     .mac-hello .st0 {
          stroke: #ffffff;
       stroke-width: 15;
       stroke-linecap: round;
      }
  
  .mac-hello {
    stroke-dasharray: 4200;
    stroke-dashoffset: 4200; /* Reset to 250 and then reduce with animation to give the desired effect */
    animation: writeIn 2.5s linear forwards;
  }
  
  @keyframes writeIn {
    0% {
      stroke-dashoffset: 4000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  